html{
background: rgb(11,1,1);
background: linear-gradient(180deg, rgba(11,1,1,1) 13%, rgba(101,9,9,1) 100%);
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;

}
.card{
	
	
	margin: 2%;
	
}
