html{
background: rgb(11,1,1);
background: linear-gradient(180deg, rgba(11,1,1,1) 7%, rgba(121,9,9,1) 85%);
background-size: contain;

}
.card{
	display:block;
	width: 60%;
	margin: auto;
	margin-bottom: 5%;
}
#id{
	margin-top: 5%;
}