a:link {
	colour:white;
}
a:visited {
	color: white;
}
a:active {
	color:black;
}
#mainpage{
	background-image: url("./img/mountain1.jpg");
	/*background-color: rgb(110, 0, 0);*/
	background-position:70% 70%;
	background-size: cover;
	height: 100vh;
}
#mainlink{
	font-weight: bold;
	font-size: 5%px;
	text-align: center;	
	line-height: 100%;
}
#div1{
	height:100%;
	background-image: url("./img/signs2.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.mainsigns{
	width: 25%;
	height: 10%;
	max-width:200px;
	margin: auto;
	display:block;
}
#init{
	transform:translateY(100%);
}
#npcs{
	transform:translateY(160%);
}
#sums{
	transform:translateY(215%);
}
#maps{
	transform:translateY(275%);
}
#foes{	
	transform:translateY(330%);
}
#pcs{
	transform:translateY(390%);
}