@font-face {
	font-family: immortal;
	src: url(./font/IMMORTAL.ttf);
}
@font-face {
	font-family: Vecna;
	src: url(./font/Vecna.otf);

}
html {
	background-image: url("./img/countryside.jpg");
	background-position:40% 100%;
	background-size: cover;
	height: 100vh;
}
.title {
	text-align: center;
	
	font-family: immortal;
	font-size: 500%;
	margin: 0;
}
.npcs {
	padding: 1%;
	font-size: 250%;
	text-align: center;
	font-family: Vecna;
	border: 5px solid #CC6600;
	background-color: #FFEE99;
	background-size: 50% auto;
	border-radius: 25px;
	width: 50%;
	margin: auto;
	max-width: 400px;
}
.divnpc{
	margin-bottom: 2%;
	
}