@font-face{
	font-family: Vecna;
	src: url(./font/Vecna.otf);
}
a:link {
	colour:white;
}
a:visited {
	color: white;
}
a:active {
	color:black;
}
#mainpage{
	background-image: url("countryside.jpg");
	/*background-color: rgb(110, 0, 0);*/
	background-position: 60% 60%;
	background-size: cover;
	height: 100vh;
}

h1, h4{
	font-family: Vecna;
	font-weight: bold; 
	text-align: center;
	color: white;
	/*-webkit-text-stroke: 0.01px black;*/
	
	
}
h1{
	font-size: 5vw;
	font-size: 5vh;
}
h4{
	font-size: 2vw;
	font-size: 2vh;
}

#mainlink{
	font-family: Vecna;
	font-weight: bold;
	font-size: 5%px;
	text-align: center;	
	line-height: 100%;
}
#div1{
	height:100%;
	background-image: url("signs.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

