@font-face{
	font-family: Vecna;
	src: url(./font/Vecna.otf);
}
a:link {
	colour:white;
}
a:visited {
	color: white;
}
a:active {
	color:black;
}
#mainpage{
	background-image: url("countryside.jpg");
	/*background-color: rgb(110, 0, 0);*/
	background-position: 65% 65%;
	background-size: cover;
	height: 100vh;
}


#mainlink{
	font-family: Vecna;
	font-weight: bold;
	font-size: 5%px;
	text-align: center;	
	line-height: 100%;
}
#div1{
	height:100%;
	background-image: url("signs.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}
.mainsigns{
	width: 25%;
	height: 10%;
}

#init{
	transform: translate(150%, 105%);
	display:block;
}
#npcs{
	transform: translate(150%, 165%);
	display:block;
}
#sums{
	transform: translate(150%, 220%);
	display:block;
}
#maps{
	transform: translate(150%, 275%);
	display:block;
}
#foes{
	transform: translate(150%, 335%);
	display:block;
}
#pcs{
	transform: translate(150%, 390%);
	display:block;
}
