html {
	background-image: url("./img/wood1.jpg");

}
@font-face{
	font-family: Vecna;
	src: url(./font/Vecna.otf);
}
.collapsible {
  background-image: url("./img/parch1.png");
  background-color: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #0C283D;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 10%;
  background-image: url("./img/parch2.png");
  background-size: cover;
  background-repeat: no-repeat;
}


