html {
	background-image: url(./img/wood2.jpg);
	background-position:70% 70%;
	background-size: cover;
	height: 100vh;
}

@font-face{
	font-family: Vecna;
	src: url(./font/Vecna.otf);

}
@font-face{
	font-family: immortal;
	src: url(./font/IMMORTAL.ttf);
}
@font-face{
	font-family: atlas;
	src: url(./font/AtlasoftheMagi.ttf);
}
.title {

	color: white;
	text-align: center;
	
	font-family: immortal;
	font-size: 500%;
	
}

.collapsible {
	background-color: #ac7427;
	border-top-left-radius: 100px 50px;
	border-top-right-radius: 100px 50px;

	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	
	padding: 1% 1%;
	font-size: 350%;
	font-family: vecna;

}
.content {
	background-color: #e6d5bb;
	text-indent: 2em;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;

	font-family: immortal;
	font-size: 300%;
}
p {
	
	padding: 1% 1%;

}
.date {
	text-align: RIGHT;
	padding-top: 0;
	font-size: 75%;
}